@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body,
html {
    margin: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

@media (min-width: 960px) {
    .navTop {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border: 8px solid #EEEEEE;
        text-align: start !important;
        transform: rotate(-30deg);
        transform-origin: 20% 10%;
        /* transform: translate(); */
        zoom: 1.7;
    }

    .text1 {
        display: flex;
    }

    .text2 {
        position: absolute;
        top: 95px;
        left: 30px;
        transform: rotate(90deg);
        transform-origin: 0 0;
        zoom: 0.6;
        /* padding: 0px 0px 20px 20px; */
    }

}

.navTop {
    background-color: #111111;
    min-height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    position: absolute;

}

.gradBg {
    height: 600px;
    background: rgb(0, 219, 222);
    background: linear-gradient(90deg, rgba(0, 219, 222, 1) 0%, rgba(0, 219, 222, 1) 19%, rgba(252, 0, 255, 1) 100%);
    overflow: hidden;
}

.text-green {
    color: #00FF00;
}

.letter-space-3 {
    letter-spacing: 3px;
}